#map { 
    height: 40rem; }
    
#header, #location, #btn { text-align: center; }

#locationHeader {text-align:center;}


.selected 
{
    border:0.2em solid rgb(58, 58, 58); /* here configure as your needs */
    /* color:#00c; */
 }





 /* .dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  } */
  
  /* .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  } */
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #bab1cd;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  .constantly button:hover {background-color: #ddd;}
  
  .show {display: block;}

.constantly {
background-color: #bab1cd
}  